*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#code{
    width:100vh;
    overflow:hidden;
}

.token.selector{
    color:black;
}
.token.punctuation
{
    color:black;
}
.token.property{
    color:black;
}